html, body {
  height: 100%;
  width: 100%;
}

body {
  background: #fff;
  font-family: "HelveticaNeueMedium", "HelveticaNeue-Medium", "Helvetica Neue Medium", "HelveticaNeue", "Helvetica Neue", 'TeXGyreHerosRegular', "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif;
  font-weight:500;
  font-stretch:normal;
  color: #333;
}

.wrap {
  min-height: 100%;
  /* equal to footer height */
  margin-bottom: -100px;
}
.wrap:after {
  content: "";
  display: block;
  height: 100px;
}
.header {
  border-bottom: 1px solid #333;
  position: relative;
  width: 100%;
}

.header .logo {
  position: absolute;
  top: 10px;
  left: 10px;
  text-align: center;
  margin: 0 auto;
}

.header .logo img {
  width: 100%;
  max-width: 400px;
}

#map {
  background: #000;
  height: 350px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 5px 0px;
}

.intro {
  text-align: center;
  width: 100%;
  position: absolute;
  top: 200px;
}

.intro h1 {
  margin: 0;
  line-height: 50px;
  color: #fff;
  font-weight: 400;
  letter-spacing:8px;
  font-variant:small-caps;
}
.intro h4 {
  margin: 0;
  color: #fff;
  font-weight: 200;
  letter-spacing:2px;
  font-size: 14px;
}

.main {
  background: #fff;
/*  border-left: 1px solid #333;
  border-right: 1px solid #333;
  border-bottom: 1px solid #333;*/
  text-align: center;
  position: relative;
  margin-top: 20px;
}

.main h5 {
  font-size: 24px;
}

.main .blurb {
  max-width: 500px;
  margin: 20px auto;
  padding-top: 20px;
  border-top: 2px solid #333;
  font-size: 16px;
  color: rgba(26, 26, 26, 0.701961);
}

.mainbar {
  height: 50px;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  border-top: 1px solid #888;
  background: #444444; /* Old browsers */
  background: -moz-linear-gradient(top, #444444 1%, #333333 47%, #222222 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#444444), color-stop(47%,#333333), color-stop(100%,#222222)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #444444 1%,#333333 47%,#222222 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #444444 1%,#333333 47%,#222222 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #444444 1%,#333333 47%,#222222 100%); /* IE10+ */
  background: linear-gradient(to bottom, #444444 1%,#333333 47%,#222222 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#444444', endColorstr='#222222',GradientType=0 ); /* IE6-9 */
}

.main .row {
  margin-top: 1px;
}

.main .title {
  text-align: center;
  height: 50px;
}

.main .title h4 {
  margin: 0;
  line-height: 50px;
  color: #fff;
}

.main .content {
  padding: 10px;
  height: 900px;
  overflow: hidden;
  text-align: center;
}

.main .content p {
  text-align: left;
}

.main .content .btn {
  margin: 10px 0 10px 0;
}

.main .content img {
  margin:  0 10px 10px 0;
}

.examples {
  margin-top: 50px;
  margin-left: -15px;
  margin-right: -15px;
  background: #f9f9f9;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}

.examples .row {
  margin: 0;
}

.examples h5 {
  margin-bottom: 20px;
}

.examples p {
  margin: 20px auto;
  max-width: 400px;
  color: rgba(26, 26, 26, 0.701961);
}

.examples img {
  margin: 0 auto;
}

.contact h5 {
  margin-top: 200px;
  margin-bottom: 200px;
}

.footer {
  height: 100px;
  border-top: 1px solid #ddd;
  background: #f9f9f9;
}

.footer .container {
  padding-top: 10px;
}

.footer .links a {
  float: left;
  margin-right: 20px;
  color: #333;
}

.footer .copy {
  color: #999;
  font-size: 14px;
  text-align: left;
}
